.pop{
    width: 300px;
    height: 380px;
    background-color: whitesmoke;
    margin: -9px;
    display: block;
}
.logo{
    width: 95%;
    margin: 10px;
}
.ldBar{
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}
.ldBar path.mainline{
    stroke-width: 10;
    stroke-linecap: round;
    stroke: #749c91;
}
.ldBar path.baseline{
    stroke-width: 6;
    stroke-linecap: round;
}
.ldBar-label{
    text-align: center;
    margin-top: -50px;
    font-size: 30px;
    font: verdana;
    color: #006146;
    font-weight: bold;
}
.ldBar-label:after{
    content: " / 100";
}
.row{
    margin: 0px 10px 8px;
    height: 100px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.col{
    margin-top: 5px;
    float: left;
    width: 49%;
    height: 100%
}
.center{
    width: 2%;
    margin-top: -5px;
}
.line{
    margin: 10px 7px 0px;
    width: 95%;
    height: 5px;
    background: #749c91;
    display: inline-block;
}
.line2{
    width: 5px;
    height: 110%;
    background: #749c91;
    display: inline-block;
}
.colhead{
    width:94%;
}
.rate{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    color: #006146;
    font: verdana;
}
input{
    margin: 20px auto 0px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font: verdana;
    font-size: 18px;
    background-color: #749c91;
    color: whitesmoke;
    border: none;
    display: block;
    cursor: pointer;
}
input:hover{
    background-color: #37795f;
}